.about {
  background-color: $colour-third;
  margin: 100px;
  width: auto;
  height: auto;
  padding: 60px;
  border: 15px groove rgba(103, 138, 93, 0.71);
  border-radius: 0px 23px 0px 23px;
  @media screen and (max-width: 900px) {
    padding: 10px;
    margin: 30px;
  }
  & h1 {
    font-size: 4rem;
    text-transform: uppercase !important;
    font-weight: 100;
    letter-spacing: 5px;
    @media screen and (max-width: 1000px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 800px) {
      font-size: 2rem;
      margin: 10px;
    }
  }
  .head {
    justify-content: center !important;
  }
}
